/* This is general CSS used for all pages*/
.orange
{
  background-color: DarkOrange;
}
.wiki
{
  font-size: 70px;
  color: Red;
  font-family: roboto;
}
.horizontalLine {
  padding-top: 10px;
  background-color: DarkOrange;
}

.horizontalLine li {
  display: inline;
  margin: 5px;
  padding: 10px 10px 10px 10px;
}
.horizontalLine li a {
color: red;
text-decoration: none;
font-family: 'Roboto';
}

.horizontalLine li a:hover {
  color: red;
}

/*Home Page*/

.page1
{
  background-color: green;
}
.page1 img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.page2
{
background-color: orange;
}
.page2 h1
{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: roboto;
}
.page2 a
{
  text-decoration: none;
  text-align: justify;
  font-size: 50px;
  font-family: roboto;
  color: black;
}
.page2 a:hover
{
  color: red;
}
.page2 img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.page3
{
  background-color: navy;
}
.page3 h1
{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: roboto;
  color: black;
}
.page3 a
{
  text-decoration: none;
  text-align: justify;
  font-size: 50px;
  font-family: roboto;
  color: white;
}
.page3 a:hover
{
  color: red;
}
.page3 img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.page4
{
  background-color: red;
}
.page4 h1
{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: roboto;
}
.page4 a
{
  text-decoration: none;
  text-align: justify;
  font-size: 50px;
  font-family: roboto;
  color: white;
}
.page4 a:hover
{
  color: yellow;
}
.page4 img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.page5
{
  background-color: purple;
}
.page5 h1
{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: roboto;
}
.page5 a
{
  text-decoration: none;
  text-align: justify;
  font-size: 50px;
  font-family: roboto;
  color: black;
}
.page5 a:hover
{
  color: red;
}
.page5 img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.page6
{
  background-color: darkgreen;
}
.page6 h1
{
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: roboto;
}
.page6 a
{
  text-decoration: none;
  text-align: justify;
  font-size: 50px;
  font-family: roboto;
  color: white
}
.page6 a:hover
{
  color: red;
}
.page6 img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}
.hometext
{
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: Roboto;
  color: orange;
}
.homeh1
{
  text-align: center;
  align-items: center;
  font-size: 70px;
  font-family: roboto;
  color: orange;
}
/*Goku Page*/
.gokuButton {}

.gokuButton li {
  display: inline-flex;
  padding-left: 60px;
  padding-right: 70px;
border: solid;
background-color: DarkOrange;
}
.gokuButton li a {
color: red;
text-decoration: none;
font-family: 'Roboto';
font-size: 20px;
}

.gokuButton li a:hover {
  color: white;
}
.gokuBody
{
background-color: orange;
}
.openingbox
{
  background-color: rgb(255, 190, 92);
  float: right;
  border: solid;
}
.openingbox img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}
.openingbox h1
{
  color: black;
  text-align: center;
  font-size: 60px;
  font-family: roboto;
}
.openingbox h3
{
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: roboto;
}
.openingbox h4
{
  font-family: roboto;
  color: black;
  font-size: 20px;
}
.openingbox h5
{
  font-size: 15px;
  color: black;
  font-family: roboto;
}
.Biography
{
  font-size: 15px;
  font-family: roboto;
}
.Biography h2
{
  font-size: 30px;
  text-align: center;
}
.Biography div
{
  background-color: DarkOrange;
  font-size: 20px;
  text-align: center;
  border: solid;
}
.specialmoves
{
  font-size: 30px;
  text-align: center;
  font-family: roboto;
}
.GokumoveGrid
{
  width: 70%;
  height: 80%;
  display: grid;
  margin: auto;
  grid-template-areas:
    "div div2"
    "div3 div4"
    "div5 div6";
  grid-template-rows: .2fr .4fr .3fr;
  grid-template-columns: .6fr .6fr;
}
.GokumoveGrid img
{
display: block;
 margin-left: auto;
 margin-right: auto;
 width: 70%;
 height: 100%;
}
.GokumoveGrid div:first-child
{
grid-area: div;
background-color: DarkOrange;
border-left: solid;
border-top: solid;
}

.GokumoveGrid div:nth-child(2)
{
grid-area: div2;
padding-right: 120px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background: DarkOrange;
padding-top: 40px;
border-right: solid;
border-top: solid;

}

.GokumoveGrid div:nth-child(3)
{
grid-area: div3;
background-color: DarkOrange;
border-left: solid;
border-top: solid;
}

.GokumoveGrid div:nth-child(4)
{
grid-area: div4;
padding-right: 120px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: DarkOrange;
border-right: solid;
border-top: solid;
}

.GokumoveGrid div:nth-child(5)
{
grid-area: div5;
background-color: DarkOrange;
border-bottom: solid;
border-left: solid;
border-top: solid;
}
.GokumoveGrid div:nth-child(6)
{
grid-area: div6;
padding-right: 120px;
padding-top: 20px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: DarkOrange;
border-bottom: solid;
border-right: solid;
border-top: solid;
}
.GokutransformGrid
{
  width: 100%;
  height: 80%;
  display: grid;
  margin: auto;
  grid-template-areas:
    "div div2"
    "div3 div4"
    "div5 div6";
  grid-template-rows: .5fr .3fr .4fr;
  grid-template-columns: .5fr .5fr;
}
.GokutransformGrid img
{
display: block;
 margin-left: auto;
 margin-right: auto;
 width: 60%;
}
.GokutransformGrid div:first-child
{
grid-area: div;
background-color: DarkOrange;
border-left: solid;
border-top: solid;
border-bottom: solid;
}
.GokutransformGrid div:first-child img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

.GokutransformGrid div:nth-child(2)
{
grid-area: div2;
padding-right: 20px;
padding-top: 160px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background: DarkOrange;
border-right: solid;
border-bottom: solid;
border-top: solid;
}

.GokutransformGrid div:nth-child(3)
{
grid-area: div3;
background-color: DarkOrange;
border-left: solid;
border-bottom: solid;
}
.GokutransformGrid div:nth-child(3) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}
.GokutransformGrid div:nth-child(4)
{
grid-area: div4;
padding-top: 145px;
padding-right: 20px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: DarkOrange;
border-bottom: solid;
border-right: solid;
}

.GokutransformGrid div:nth-child(5)
{
grid-area: div5;
background-color: DarkOrange;
border-left: solid;
border-bottom: solid;
}
.GokutransformGrid div:nth-child(5) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
   height: 100%;
}
.GokutransformGrid div:nth-child(6)
{
grid-area: div6;
padding-right: 20px;
padding-top: 50px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: DarkOrange;
border-bottom: solid;
border-right: solid;
}
/*Vegeta Page*/
.vegetaButton {}

.vegetaButton li {
  display: inline-flex;
  padding-left: 60px;
  padding-right: 70px;
border: solid;
background-color: blue;
border-color: white;
}
.vegetaButton li a {
color: white;
text-decoration: none;
font-family: 'Roboto';
font-size: 20px;
}

.vegetaButton li a:hover {
  color: red;
}
.vegetaBody
{
  background-color: navy;
}
.Vegetabox
{
  background-color: rgb(94, 158, 254);
  float: right;
  border: solid;
  border-color: white;
}
.Vegetabox img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}
.Vegetabox h1
{
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: roboto;
}
.Vegetabox h3
{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: roboto;
}
.Vegetabox h4
{
  font-family: roboto;
  color: white;
  font-size: 20px;
}
.Vegetabox h5
{
  font-size: 15px;
  color: white;
  font-family: roboto;
}

  .two
  {
    font-size: 70px;
    color: white;
    font-family: roboto;
  }
  .Linetwo {
    padding-top: 10px;
    background-color: blue;
  }

  .Linetwo li {
    display: inline;
    margin: 5px;
    padding: 10px 10px 10px 10px;
  }
  .Linetwo li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  }

  .Linetwo li a:hover {
    color: red;
  }
  .vegetaBiography
  {
    font-size: 15px;
    font-family: roboto;
    color: white
  }
  .vegetaBiography h2
  {
    font-size: 30px;
    text-align: center;
    color: white;
  }
  .vegetaBiography div
  {
    background-color: blue;
    font-size: 20px;
    text-align: center;
    border-color: white;
    border: solid;
  }
  .VegetamoveGrid
  {
    width:60%;
    height: 80%;
    display: grid;
    margin: auto;
    grid-template-areas:
      "div div2"
      "div3 div4"
      "div5 div6";
    grid-template-rows: .3fr .4fr .3fr;
    grid-template-columns: .5fr .5fr;
  }
  .VegetamoveGrid img
  {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
  }
  .VegetamoveGrid div:first-child
  {
  grid-area: div;
  background-color: blue;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }

  .VegetamoveGrid div:nth-child(2)
  {
  grid-area: div2;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background: blue;
  color: white;
  padding-top: 40px;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }

  .VegetamoveGrid div:nth-child(3)
  {
  grid-area: div3;
  background-color: blue;
  border-left: solid;
  border-color: white;
  }

  .VegetamoveGrid div:nth-child(4)
  {
  grid-area: div4;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: blue;
  color: white;
  border-right: solid;
  border-color: white;
  }

  .VegetamoveGrid div:nth-child(5)
  {
  grid-area: div5;
  background-color: blue;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
  .VegetamoveGrid div:nth-child(6)
  {
  grid-area: div6;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: blue;
  color: white;
  padding-top: 60px;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
  .VegetatransformGrid
  {
    width: 100%;
    height: 80%;
    display: grid;
    margin: auto;
    grid-template-areas:
      "div div2"
      "div3 div4"
      "div5 div6";
    grid-template-rows: .3fr .4fr .3fr;
    grid-template-columns: .5fr .5fr;
  }
  .VegetatransformGrid div:first-child
  {
  grid-area: div;
  background-color: blue;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
.VegetatransformGrid div:first-child img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
}
  .VegetatransformGrid div:nth-child(2)
  {
  grid-area: div2;
  padding-top: 130px;
  padding-right: 20px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background: blue;
  color: white;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }

  .VegetatransformGrid div:nth-child(3)
  {
  grid-area: div3;
  background-color: blue;
  border-left: solid;
  border-color: white;
  }
  .VegetatransformGrid div:nth-child(3) img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
  }
  .VegetatransformGrid div:nth-child(4)
  {
  grid-area: div4;
  padding-right: 20px;
  padding-top: 130px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: blue;
  color: white;
  border-right: solid;
  border-color: white;
  }

  .VegetatransformGrid div:nth-child(5)
  {
  grid-area: div5;
  background-color: blue;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
  .VegetatransformGrid div:nth-child(5) img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     height: 100%;
  }
  .VegetatransformGrid div:nth-child(6)
  {
  grid-area: div6;
  padding-right: 20px;
  padding-top: 110px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: blue;
  color: white;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
  .VegetaH2
  {
    color: white;
    font-family: roboto;
    text-align: center;
    font-size: 30px;
  }
  /*Gohan Page*/
  .gohanButton {
    align: center;
  }

  .gohanButton li {
    display: inline-flex;
    padding-left: 50px;
    padding-right: 50px;
  border: solid;
  background-color: darkred;
  border-color: white;
  text-align: center;
  }
  .gohanButton li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 20px;
  }

  .gohanButton li a:hover {
    color: orange;
  }
  .GohanBody
  {
    background-color: Red;
  }
  .Gohanbox
  {
    background-color: rgb(255, 91, 91);
    float: right;
    border: solid;
    border-color: white;
  }
  .Gohanbox img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
  }
  .Gohanbox h1
  {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: roboto;
  }
  .Gohanbox h3
  {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: roboto;
  }
  .Gohanbox h4
  {
    font-family: roboto;
    color: white;
    font-size: 20px;
  }
  .Gohanbox h5
  {
    font-size: 15px;
    color: white;
    font-family: roboto;
  }
  .three
  {
    font-size: 70px;
    color: white;
    font-family: roboto;
  }
  .Linethree {
    padding-top: 10px;
    background-color: darkred;
  }

  .Linethree li {
    display: inline;
    margin: 5px;
    padding: 10px 10px 10px 10px;
  }
  .Linethree li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  }

  .Linethree li a:hover {
    color: orange;
  }
  .gohanBiography
  {
    font-size: 15px;
    font-family: roboto;
    color: white
  }
  .gohanBiography h2
  {
    font-size: 30px;
    text-align: center;
    color: white;
  }
  .gohanBiography div
  {
    background-color: darkred;
    font-size: 20px;
    text-align: center;
    border: solid;
    border-color: white;
  }
  .gohanmoveGrid
  {
    width: 70%;
    height: 80%;
    display: grid;
    margin: auto;
    grid-template-areas:
      "div div2"
      "div3 div4"
      "div5 div6";
    grid-template-rows: .25fr .4fr .2fr;
    grid-template-columns: .5fr .5fr;
  }
  .gohanmoveGrid div:first-child
  {
  grid-area: div;
  background-color: darkred;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
.gohanmoveGrid div:first-child img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}
  .gohanmoveGrid div:nth-child(2)
  {
  grid-area: div2;
  padding-right: 20px;
  padding-top: 90px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background: darkred;
  color: white;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }

  .gohanmoveGrid div:nth-child(3)
  {
  grid-area: div3;
  background-color: darkred;
  border-left: solid;
  border-color: white;
  }
  .gohanmoveGrid div:nth-child(3) img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
  }
  .gohanmoveGrid div:nth-child(4)
  {
  grid-area: div4;
  padding-right: 20px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: darkred;
  color: white;
  border-right: solid;
  border-color: white;
  }

  .gohanmoveGrid div:nth-child(5)
  {
  grid-area: div5;
  background-color: darkred;
  border-left: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
  .gohanmoveGrid div:nth-child(5) img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
  }
  .gohanmoveGrid div:nth-child(6)
  {
  grid-area: div6;
  padding-right: 20px;
  padding-top: 45px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: darkred;
  color: white;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  border-color: white;
  }
  .gohantransformGrid
  {
    width: 100%;
    height: 80%;
    display: grid;
    margin: auto;
    grid-template-areas:
      "div div2"
      "div3 div4"
      "div5 div6";
    grid-template-rows: .25fr .4fr .2fr;
    grid-template-columns: .5fr .5fr;
  }
  .gohantransformGrid div:first-child
  {
  grid-area: div;
  background-color: darkred;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  }
.gohantransformGrid div:first-child img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}
  .gohantransformGrid div:nth-child(2)
  {
  grid-area: div2;
  padding-right: 20px;
  padding-top: 170px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background: darkred;
  color: white;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  }

  .gohantransformGrid div:nth-child(3)
  {
  grid-area: div3;
  background-color: darkred;
  border-left: solid;
  border-color: white;
  }
  .gohantransformGrid div:nth-child(3) img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
  }
  .gohantransformGrid div:nth-child(4)
  {
  grid-area: div4;
  padding-right: 20px;
  padding-top: 180px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: darkred;
  color: white;
  border-right: solid;
  border-color: white;
  }

  .gohantransformGrid div:nth-child(5)
  {
  grid-area: div5;
  background-color: darkred;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  }
  .gohantransformGrid div:nth-child(5) img
  {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
  }
  .gohantransformGrid div:nth-child(6)
  {
  grid-area: div6;
  padding-right: 20px;
  padding-top: 150px;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto';
  background-color: darkred;
  color: white;
  border-right: solid;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  }
.gohanh2
{
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: roboto;
}
/*Frieza Page*/
.friezaButton {
  align: center;
}

.friezaButton li {
  display: inline-flex;
  padding-left: 40px;
  padding-right: 40px;
border: solid;
background-color: rgb(80, 0, 150);
border-color: white;
text-align: center;
}
.friezaButton li a {
color: white;
text-decoration: none;
font-family: 'Roboto';
font-size: 20px;
}

.friezaButton li a:hover {
  color: red;
}
.FriezaBody
{
  background-color: Purple;
}
.Friezabox
{
  background-color: rgb(185, 112, 196);
  float: right;
    border: solid;
  border-color: white;
}
.Friezabox img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}
.Friezabox h1
{
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: roboto;
}
.Friezabox h3
{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: roboto;
}
.Friezabox h4
{
  font-family: roboto;
  color: white;
  font-size: 20px;
}
.Friezabox h5
{
  font-size: 15px;
  color: white;
  font-family: roboto;
}
.four
{
  font-size: 70px;
  color: white;
  font-family: roboto;
}
.Linefour {
  padding-top: 10px;
  background-color: rgb(80, 0, 150);
}

.Linefour li {
  display: inline;
  margin: 5px;
  padding: 10px 10px 10px 10px;
}
.Linefour li a {
color: white;
text-decoration: none;
font-family: 'Roboto';
}

.Linefour li a:hover {
  color: red;
}
.FriezaBiography
{
  font-size: 15px;
  font-family: roboto;
  color: white
}
.FriezaBiography h2
{
  font-size: 30px;
  text-align: center;
  color: white;
}
.FriezaBiography div
{
  background-color:rgb(80, 0, 150) ;
  font-size: 20px;
  text-align: center;
  border: solid;
  border-color: white;
}
.friezamoveGrid
{
  width: 60%;
  height: 100%;
  display: grid;
  margin: auto;
  grid-template-areas:
    "div div2"
    "div3 div4"
    "div5 div6";
  grid-template-rows: .25fr .4fr .2fr;
  grid-template-columns: .5fr .5fr;
}
.friezamoveGrid div:first-child
{
grid-area: div;
background-color: rgb(80, 0, 150);
border-top: solid;
border-left: solid;
border-bottom: solid;
border-color: white;
}
.friezamoveGrid div:first-child img
{
display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 height: 100%;
}
.friezamoveGrid div:nth-child(2)
{
grid-area: div2;
padding-right: 20px;
padding-top: 60px;
padding-left: 20px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background: rgb(80, 0, 150);
color: white;
border-top: solid;
border-right: solid;
border-bottom: solid;
border-color: white;
}

.friezamoveGrid div:nth-child(3)
{
grid-area: div3;
background-color: darkred;
border-left: solid;
border-color: white;
}
.friezamoveGrid div:nth-child(3) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}
.friezamoveGrid div:nth-child(4)
{
grid-area: div4;
padding-right: 20px;
padding-top: 100px;
padding-left: 20px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color:rgb(80, 0, 150);
color: white;
border-right: solid;
border-left: white;
}

.friezamoveGrid div:nth-child(5)
{
grid-area: div5;
background-color: darkred;
border-top: solid;
border-left: solid;
border-bottom: solid;
border-color: white;
}
.friezamoveGrid div:nth-child(5) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}
.friezamoveGrid div:nth-child(6)
{
grid-area: div6;
padding-right: 20px;
padding-top: 60px;
padding-left: 20px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: rgb(80, 0, 150);
color: white;
border-top: solid;
border-right: solid;
border-bottom: solid;
border-color: white;
}
.Friezah2
{
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: roboto;
}
.friezatransformGrid
{
  width: 100%;
  height: 80%;
  display: grid;
  margin: auto;
  grid-template-areas:
    "div div2"
    "div3 div4"
    "div5 div6";
  grid-template-rows: .25fr .4fr .2fr;
  grid-template-columns: .5fr .5fr;
}
.friezatransformGrid div:first-child
{
grid-area: div;
background-color: rgb(80, 0, 150);
border-left: solid;
border-top: solid;
border-bottom: solid;
border-color: white;
}
.friezatransformGrid div:first-child img
{
display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
}
.friezatransformGrid div:nth-child(2)
{
grid-area: div2;
padding-right: 20px;
padding-top: 140px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background: rgb(80, 0, 150);
color: white;
border-right: solid;
border-top: solid;
border-bottom: solid;
border-color: white;
}

.friezatransformGrid div:nth-child(3)
{
grid-area: div3;
background-color: rgb(80, 0, 150);
border-left: solid;
border-color: white;
}
.friezatransformGrid div:nth-child(3) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}
.friezatransformGrid div:nth-child(4)
{
grid-area: div4;
padding-right: 20px;
padding-top: 120px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: rgb(80, 0, 150);
color: white;
border-right: solid;
border-color: white;
}

.friezatransformGrid div:nth-child(5)
{
grid-area: div5;
background-color: rgb(80, 0, 150);
border-left: solid;
border-top: solid;
border-bottom: solid;
border-color: white;
}
.friezatransformGrid div:nth-child(5) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}
.friezatransformGrid div:nth-child(6)
{
grid-area: div6;
padding-right: 20px;
padding-top: 120px;
font-size: 30px;
text-align: center;
font-family: 'Roboto';
background-color: rgb(80, 0, 150);
color: white;
border-right: solid;
border-top: solid;
border-bottom: solid;
border-color: white;
}
/*Inspiration Page*/

.inspirationbody
{
  background-color: darkgreen;
}
.five
{
  font-size: 70px;
  color: white;
  font-family: roboto;
}
.Linefive {
  padding-top: 10px;
  background-color: Orange;
}

.Linefive li {
  display: inline;
  margin: 5px;
  padding: 10px 10px 10px 10px;
}
.Linefive li a {
color: white;
text-decoration: none;
font-family: 'Roboto';
}

.Linefive li a:hover {
  color: red;
}
.linkGrid
{
  width: 80%;
  height: 80%;
  display: grid;
  margin: auto;
  grid-template-areas:
    "div div2"
    "div3 div4"
    "div5 div6"
    "div7 div8"
    "div9 div10";
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr;
  grid-template-columns: .5fr .5fr;
}

.linkGrid div:first-child
{
grid-area: div;
background-color: orange;
border-top: solid;
border-left: solid;
border-bottom: solid;
border-color: black;
}
.linkGrid div:first-child img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
}
.linkGrid div:nth-child(2)
{
grid-area: div2;
padding: 10px;
font-size: 20px;
background-color: orange;
text-align: center;
font-family: 'Roboto';
border-top: solid;
border-right: solid;
border-bottom: solid;
border-color: black;
}

.linkGrid div:nth-child(3)
{
grid-area: div3;
background-color: orange;
border-left: solid;
border-color: black;
}
.linkGrid div:nth-child(3) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
}
.linkGrid div:nth-child(4)
{
grid-area: div4;
padding: 10px;
font-size: 20px;
background-color: orange;
text-align: center;
font-family: 'Roboto';
border-right: solid;
border-color: black;
}
.linkGrid div:nth-child(5)
{
grid-area: div5;
border-left: solid;
border-bottom: solid;
border-top: solid;
border-color: black;
}
.linkGrid div:nth-child(5) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}
.linkGrid div:nth-child(6)
{
grid-area: div6;
padding: 10px;
font-size: 20px;
background-color: orange;
text-align: center;
font-family: 'Roboto';
border-right: solid;
border-bottom: solid;
border-top: solid;
border-color: black;
}
.linkGrid div:nth-child(7)
{
grid-area: div7;
border-left: solid;
border-color: black;
}
.linkGrid div:nth-child(7) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}
.linkGrid div:nth-child(8)
{
grid-area: div8;
padding: 10px;
font-size: 20px;
background-color: orange;
text-align: center;
font-family: 'Roboto';
border-right: solid;
border-color: black;
}
.linkGrid div:nth-child(9)
{
grid-area: div9;
border-top: solid;
border-left: solid;
border-bottom: solid;
border-color: black;
}
.linkGrid div:nth-child(9) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}
.linkGrid div:nth-child(10)
{
grid-area: div10;
padding-right: 20px;
padding-top: 130px;
font-size: 30px;
background-color: orange;
text-align: center;
font-family: 'Roboto';
border-top: solid;
border-right: solid;
border-bottom: solid;
border-color: black;
}
.wireframegrid
  {
    width: 80%;
    height: 80%;
    display: grid;
    margin: auto;
    grid-template-areas:
      "div div2"
      "div3 div4";
    grid-template-rows: .5fr .5fr;
    grid-template-columns: .5fr .5fr;
  }

  .wireframegrid div:first-child
  {
    grid-area: div;
    padding-left: 20px;
    padding-top: 170px;
    font-size: 80px;
    background-color: orange;
    text-align: center;
    font-family: 'Roboto';
    border-left: solid;
    border-bottom: solid;
    border-top: solid;
  }
.wireframegrid div:nth-child(2)
{
  grid-area: div2;
  background-color: orange;
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
}
.wireframegrid div:nth-child(2) img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.wireframegrid div:nth-child(3)
{
  grid-area: div3;
  padding-left: 20px;
  padding-top: 170px;
  font-size: 80px;
  background-color: orange;
  text-align: center;
  font-family: 'Roboto';
  border-left: solid;
  border-bottom: solid;
}
.wireframegrid div:nth-child(4)
{
  grid-area: div4;
  background-color: orange;
  border-right: solid;
  border-bottom: solid;
}
.wireframegrid div:nth-child(4) img
{
  grid-area: div4;
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   background-color: orange;
}
.ad img
{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}
.inspirationh1
{
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: roboto;
}
.inspirationh2
{
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: roboto;
}
.inspirationtext
{
  font-size: 20px;
  background-color: orange;
  text-align: center;
  font-family: 'Roboto';
}
